<h3 id="linux">Linux</h3>
<p>
Please go through all the installation steps below and make sure that
you not only installed them, but start them up to make sure they're working.
If you have any problems, don't hesitate to email the instructors to
ask for help, or arrive early on the first day of the workshop to
get help.

<div class="row-fluid">
  <ol>
    <li><b>A spreadsheet program</b>
      <br>For this workshop you will need a spreadsheet program. LibreOffice comes
      preinstalled with several Linux distributions. If you don't already have it, use
      your package manager to install it: (e.g., <code>sudo apt-get install
	libreoffice</code> for Ubuntu and other Debian-based distributions).
</ul>

<p>


  <li><b>R</b>
    <br>In the workshop, we will use RStudio. RStudio is a nice interface to the
    programming language R. To use RStudio, you need to install both R and RStudio.
    <ul>
      <li>Follow the instructions for your distribution
	from <a href="https://cloud.r-project.org/bin/linux/">CRAN</a>. For most distributions, you
	can use your package manager (e.g. for Debian/Ubuntu run <code>sudo
	apt-get install r-base</code>, and for Fedora run <code>sudo yum install
	R</code>) but make sure that you have at least R 3.2.2 (as pre-packaged
	versions might be out of date).
      <li>To install RStudio, go to
	the <a href="https://www.rstudio.com/products/rstudio/download/">RStudio Download
	  page</a>
      <li>Under <i>Installers</i> select the version for your distribution.
      <li>Once it's downloaded, double click the file to install it (or <code>sudo dpkg
	  -i rstudio-x.yy.zzz-amd64.deb</code> at the terminal).
      <li>Once it's installed, open RStudio to make sure it works and you don't get any error messages.
    </ul>

<p>
  
<li><b>tidyverse R package</b>
<br>We will use an R package called "tidyverse", which you can install before the course.<ul>
<li>Open RStudio
<li>In the box named <b>Console</b> type: <code>install.packages("tidyverse")</code>.
  <li>Test that the package was installed correctly by typing: <code>library(tidyverse)</code>. 
    It should print a message in red that starts with <code>Attaching packages</code>. 
    If instead you get a message saying <code>Error in library(tidyverse) : there is no package called "tidyverse"</code>,
    please come to the workshop earlier so we can help you with this.
</ul>


</div>
